.App {
  max-width: 600px;
  margin: 0 auto;
  border: 5px solid black;
  margin-top: 10px;
  box-shadow: 75px 50px 50px black;
}

h1 {
  margin: 0;
  padding: 20px 0;
  text-align: center;
  background: rgb(49, 48, 48);
  color: white !important;
  transition: 750ms ease;
}

h1:hover {
  background: transparent;
  color: black !important;
}


ol {
  padding: 0;
  margin: 0;
}

/* write your parent styles in here for your App.js */
